<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963498597028-5pdaj9soecb8nn894lk03c61bha092o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963498597028-5pdaj9soecb8nn894lk03c61bha092o9</string>
	<key>API_KEY</key>
	<string>AIzaSyCA2eMvkiApV9AIPBdK0LtSfogZzm7o2Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>963498597028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs295ckdexpress.CKD-Express</string>
	<key>PROJECT_ID</key>
	<string>ckd-express-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ckd-express-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963498597028:ios:fc6872735860d1457a6431</string>
	<key>DATABASE_URL</key>
	<string>https://ckd-express-ios.firebaseio.com</string>
</dict>
</plist>